div .titulo{
    color:#83008f;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    font-style: italic;
    font-variant-ligatures: additional-ligatures;
    letter-spacing: 1em;
    line-height: 2em;
    text-transform: uppercase;
    text-decoration: none;
}

div{
    background-color: rgb(255, 148, 172);
    color: rgb(194, 2, 43);
}

/*.container{
    margin: 0 auto;
    max-width: 1024px;
    width: 100%;
}*/

li{
    display: inline;
}

button{
    color: #ffffaa;
    background-color: rgb(1, 12, 15);
    border: 3px solid rgb(85, 83, 83);
    border-radius: 40px;
    width: 100px;
    max-width: 200px;
    min-width: 100px;
    height: 50px;
    transition: .9s;
    position: sticky;
    bottom: 0px;
    right: 0;
}

button:hover{
    background-color: purple;
    width: 500px;
    transition: .9s;
    color: rgb(247, 108, 149);
    border: 10px solid rgb(160, 94, 247);
    border-radius: 100px;
}

.teste{
    position: sticky;
    bottom: 0px;
    border: none;
    background-color: rgb(198, 167, 240);
}

body{
    background-color: #ffffaa;
}
